{
    "irc" : {
        "host":     "",
        "port":     "",
        "name":     "",
        "channel":  ""
    },
    "xmpp" : {
        "host":     "",
        "port":     "",
        "jid":      "",
        "password": ""
    }
}