{
    "irc" : {
        "host": "example.com",
        "port": "6667",
        "name": "ExampleNick",
        "channel": "#examplechannel"
    },

    "xmpp" : {
        "host": "example.com",
        "port": "5222",
        "jid": "examplebot@example.com",
        "password": "examplepassword",
        "admin": "exampleadmin@example.com"
    },

    "store" : {
        "file": "storage.db"
    },

    "router" : {
    },
    
    "action" : {
    },
    
    "log" : {
        "folder" : "logs"
    }
}