{
    "debug": true,
    "irc" : {
        "host": "example.com",
        "port": "6667",
        "name": "ExampleNick",
        "channel": "#examplechannel",
        "admin": "SomeBody"
    },

    "xmpp" : {
        "host": "example.com",
        "port": "5222",
        "jid": "examplebot@example.com",
        "password": "examplepassword",
    },

    "store" : {
        "file": "storage.db"
    },

    "log" : {
        "folder": "./feed",
        "date": false
    },

    "router" : {
        "xmppAdmin": "bigwookie@lvl3.org",
        "ircChannel": "#examplechannel"
    },
    
    "action" : {
    },
    
    "web" : {
    }
}
